.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #75316e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.img{
  height: 200px;
  width: 200px;
}
.heading{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
}
.heading1{
 
  color: rgb(250, 215, 241);
}
a{
  color: rgb(250, 215, 241);
  text-decoration: none;
  font-size: 20px;
}
.button{
  background-color: #053441;
  height: 50px;
  width: 150px;
  margin-left: 20px;
}